body {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

#Hero {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 5px;
    text-align: center;
}

i {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    padding: 10px;
    width: fit-content;
    display: inline;
    background-color: rgb(231, 231, 231);
    font-size: 48px;
    color: black;
}

h1 {
    margin: 5px 0;
}

h4 {
    margin: 5px 0 40px 0;
    color: gray;
    font-weight: normal;
}

label {
    text-align: start;
    font-weight: bold;
    margin: 5px 0;
}

#FP {
    text-align: start;
    margin: 5px 0;
}

input, button {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: rgb(231, 231, 231);
    font-size: 15px;
    width: 300px;
}

input:focus{
    outline: 2px solid gray;
}

button {
    margin-top: 30px;
    width: inherit;
    background-color: black;
    color: white;
}

button:hover {
    background-color: hsl(0, 0%, 10%);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

p {
    color: gray;
    font-weight: normal;
}

#footer {
    display: inline;
    margin: 20px;
}

#footer p {
    display: inline;
}

#SU {
    font-weight: 500;
}